@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
// font-family: 'Poppins', sans-serif;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

:root {
  --white: #ffffff;
  --black: #000000;
  --signin-btn: #f3cd6e;
  --create-btn: #ebedef;
  --blue: #0060c0;
  --grey: #767676;
}

.signin-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;

  .logo-wrapper {
    margin-bottom: 20px;
    img {
      width: 103px;
      height: 31px;
    }
  }

  .form-wrapper {
    // border: 1px solid #ddd;
    // padding: 30px 40px;
    // border-radius: 4px;

    form {
      border: 1px solid #ddd;
      padding: 30px 40px;
      border-radius: 4px;
      max-width: 350px;
      .signin-title {
        font-size: 28px;
        margin-bottom: 10px;
        font-weight: normal;
      }

      .input-wrapper {
        .input-label {
          font-size: 13px;
          font-weight: 600;
          margin-bottom: 10px;
        }
        .input-data {
          padding: 5px 10px;
          width: 100%;
          border: 1px solid #ddd;
          border-radius: 4px;
          outline: none;
          font-size: 13px;
          color: var(--black);
          background-color: var(--white);
          margin-bottom: 20px;
          transition: all 0.3s;
          &:hover {
            background-color: #edeef0;
          }
          &:focus{
            outline: 2px solid var(--signin-btn);
          }
        }
        .submit-btn {
          padding: 5px 10px;
          width: 100%;
          border: 1px solid #ddd;
          border-radius: 4px;
          outline: none;
          font-size: 13px;
          color: var(--black);
          background-color: var(--signin-btn);
          margin-bottom: 20px;
          transition: all 0.3s;
          &:hover {
            background-color: #f3d499;
          }
        }
      }

      .text-wrapper {
        .info-wrapper {
          font-size: 13px;
          span {
            color: var(--blue);
          }
        }
      }
    }

    .new-line {
      margin-top: 20px;
      text-align: center;
    }

    .create-account-btn {
      padding: 5px 10px;
      width: 100%;
      border: 1px solid #ddd;
      border-radius: 4px;
      outline: none;
      font-size: 13px;
      color: var(--black);
      background-color: var(--create-btn);
      transition: all 0.3s;
      &:hover {
        background-color: #dadfe5;
      }
    }
  }
}
